.content {
    color: black;
    justify-content: flex-start;
    margin: 50px;
    padding: 50px;
    background-color: transparent;
    font-family: "Open Sans", "Oswald", "Roboto", Verdana, Arial, sans-serif;
    text-align: center;
}

.promoCodeList {
    text-align: center;
    display: inline;
}

.logo {
    width: 600px;
    height: 300px;
    margin-top: 50px;
}

.form-control{
    text-align : center;
}

#searchForm {
    margin: auto;
    text-align: center;
    width: 80%;
}

#promoCodeTable {
    margin: auto;
    width: 75% !important; 
}

#table-header {
    width: 10%;
    font-size: 18px;
}

#submitButton {
    font-size: 13px;
}
