.content {
    color: black;
    justify-content: flex-start;
    margin: 50;
    padding: 50;
    background-color: transparent;
    font-family: "Roboto", Verdana, Arial, sans-serif;
}

.content {
    text-align: center;
}

.title {
    font-size: 32px;
}

#searchForm {
    margin: auto;
    text-align: center;
}

.promoCodeList {
    text-align: center;
    margin-top: 100px
}
.promoCodeList table{
    display: inline;
}

.form-control{
    text-align : center;
}
